---
layout: default
role: Customer Support Representative
---
<div class="container mx-auto px-4">
    <h2 class="text-purple-700 text-3xl font-bold tracking-tight mt-12">{{ page.role }}</h2>
    <p class="font-medium text-purple-500 ">Full-Time Position</p>
    <p class="font-medium text-purple-500">Location: <span  class="font-bold">Cairo</span></p>

<p class="mt-10 mb-4">We are looking for ambitious Customer Support Representatives to join our Cairo office (although currently during Covid-19 we are all working safely from home).</p>

<p class="mb-4">You will be working full-time, part of the customer support team. Your core focus will be supporting the customers of software products. Our main product is <a href="https://konf.co">konf.co</a> which is a virtual event platform. Many of our customers are based in the USA, so you will be required to work USA timezone shifts several days per week.</p>

<p class="mb-4">You don't need prior experience doing support for software, but you should have good experience in customer support, and very good spoken and written English.</p>

<p class="mb-4">You should be ambitious and have a hunger to learn new things. If you have a drive to rapidly advance your skills and career, this is an ideal role for you.</p>

<h3 class="mt-6 mb-2 font-bold">Required Skills</h3>
<ul class="ml-6 list-disc">
  <li>2+ years experience working in a customer support role with offshore accounts</li>
  <li>Very good written and spoken English</li>
  <li>Ideally some experience writing customer support material (FAQs, knowledge base articles)</li>
  <li>Proficient in software tools like Google Docs, Spreadsheets, support software.</li>
</ul>

<div class="mt-10 pb-2"><a href="#apply" class="bg-purple-700 rounded shadow text-purple-100 font-bold px-3 py-3">Apply Now</a></div>

{% include career-values-benefits.html %}

{% include apply.html role=page.role %}

</div>