---
layout: default
role: Full-Stack Developer
---
<div class="container mx-auto px-4">

    <h2 class="text-purple-700 text-3xl font-bold tracking-tight mt-12">{{ page.role }}</h2>
    <p class="font-bold text-purple-500 ">Full-Time Position</p>
    <p class="font-bold text-purple-500 ">Location: <span>Cairo</span></p>
  
<p class="mt-10">Join the core development team in our Cairo office. Learn from the best, and become a master developer. We mainly use React.js and Node.js. However we often use different languages and framworks depends on the project. So you will have lots of opportunities to learn new things. Other tech we use includes GraphQL, AWS Lambda and TaliwindCSS.

<div class="mt-10"><a href="#apply" class="bg-purple-700 rounded shadow text-purple-100 font-bold px-3 py-3">Apply Now</a></div>

{% include career-values-benefits.html %}

{% include apply.html role=page.role %}

</div>