---
layout: default
role: Growth Marketing Lead
---
<div class="container mx-auto px-4">

    <h2 class="text-purple-700 text-3xl font-bold tracking-tight mt-12">{{ page.role }}</h2>
    <p class="font-medium text-purple-500 ">Full-Time Position</p>
    <p class="font-medium text-purple-500">Locations: <span  class="font-bold">Cairo</span> or <span class="font-bold">Remote Anywhere</span></p>

<p class="mt-10 mb-4">We are looking for an ambitious Growth Marketing expert to join our Cairo office or work remotely from anywhere in the world.</p>

<p class="mb-4">You will be working full-time, leading or being a part of the growth marketing team depending on your prior experience. Your core focus will be marketing our B2B SaaS products.</p>

<p class="mb-4">You don't need prior experience marketing B2B SaaS, but you should have good experience in at least one relevant marketing area such as SEO, content marketing, analytics or growth hacking.</p>

<p class="mb-4">We are a Venture Studio, so we work on multiple software products. Our products are at an early stage right now, so you should be comfortable creating a marketing plan and process from scratch. You will need to be smart and resourceful, and able to switch between areas as needed. One day this could mean writing content, and the next you may need to configure analytics tools. The most important skill you'll need is a desire to learn new things.</p>

<p class="mb-4">We work using an agile project management process. We have daily standups, weekly sprint planning and retrospectives.</p>

<p class="mb-4">You should be ambitious and have a hunger to learn new things. If you have a drive to rapidly advance your skills and career, this is an ideal role for you.</p>

<h3 class="mt-6 mb-2 font-bold">Required Skills</h3>
<ul class="ml-6 list-disc">
  <li>2+ years experience working in a marketing role</li>
  <li>Excellent written and spoken English</li>
  <li>Experience writing or commissioning content</li>
  <li>Knowledge of SEO and SEM</li>
  <li>Understanding of analytics tools such as Google Analytics, Mixpanel, Segment</li>
  <li>Awareness of marketing tools such as Intercom, Hubspot, Optimizely</li>
</ul>


<div class="mt-10 pb-2"><a href="#apply" class="bg-purple-700 rounded shadow text-purple-100 font-bold px-3 py-3">Apply Now</a></div>

{% include career-values-benefits.html %}

{% include apply.html role=page.role %}

</div>