---
layout: default
role: Product Designer
---
<div class="container mx-auto px-4">

    <h2 class="text-blue-700 text-3xl font-bold tracking-tight mt-12">{{ page.role }}</h2>
    <p class="font-medium text-blue-500 ">Full-Time Position</p>
    <p class="font-medium text-blue-500">Locations: <span  class="font-bold">Cairo</span> or <span class="font-bold">Remote Anywhere</span></p>

<p class="mt-10 mb-4">Rebase Ventures is a global venture studio. We incubate and grow our own B2B SaaS products. We are looking for a product designer with experience designing SaaS applications to join our Cairo office (currently working from home due to Covid-19) or work remotely from anywhere in the world.</p>

<p class="mb-4">You will be working full-time as part of the Rebase Ventures internal product team. You will work closely with the founder Damien Tanner (previously co-founder of 4 successful SaaS tech companies including <a href="https://pusher.com">Pusher</a>).</p>

<p class="mb-4">Your focus will be designing the user experience and user interfaces for our SaaS products. You'll have a huge amount of impact and responsibilitiy to shape and design our products.</p>

<p class="mb-4">We work using an agile project management process. We have daily standups, weekly sprint planning and retrospectives.</p>

<p class="mb-4">You should be ambitious and have a hunger to learn new things. If you have a drive to rapidly advance your skills and career, this is an ideal role for you.</p>

<h3 class="mt-6 mb-2 font-bold">Required Skills</h3>
<ul class="ml-6 list-disc">
  <li>Experience designing user interfaces for web applications</li>
  <li>A love for simple and easy to use UI</li>
  <li>Experience using modern design tools like Figma</li>
  <li>Proficient in HTML and CSS</li>
  <li>Excellent written and spoken English</li>
</ul>

<div class="mt-10 pb-2"><a href="#apply" class="bg-purple-700 rounded shadow text-purple-100 font-bold px-3 py-3">Apply Now</a></div>

{% include career-values-benefits.html %}

{% include apply.html role=page.role %}

</div>