---
layout: default
role: Senior React.js Developer
---
<div class="container mx-auto px-4">

    <h2 class="text-purple-700 text-3xl font-bold tracking-tight mt-12">{{ page.role }}</h2>
    <p class="font-medium text-purple-500">Full-Time Position</p>
    <p class="font-medium text-purple-500">Locations: <span class="font-bold">Cairo</span> or <span class="font-bold">Buenos Aires</span></p>

<p class="mt-10 mb-4">Join the core development team in our Cairo or Buenos Aires offices.</p>

<p class="mb-4">You will be working full-time as part of the development team. Everyone in the team is a full-stack developer, although each person has their individual focus areas.</p>

<p class="mb-4">We are a Venture Studio, so we work on multiple software products. This means the technology can be different between products. You should enjoy learning new technology, and be comfortable switching between languages and frameworks. Today, we mainly use React.js, Node.js and Rails.</p>

<p class="mb-4">We work using an agile project management process. We have daily standups, weekly sprint planning and retrospectives. We use <a href="http://linear.app">linear.app</a> for backlog management. We do regular pair programming and code reviews.</p>

<p class="mb-4">You should be ambitious and have a hunger to learn new things. If you have a drive to rapidly advance your skills and career, this is an ideal role for you.</p>

<h3 class="mt-6 mb-2 font-bold">Required Skills</h3>
<ul class="ml-6 list-disc">
  <li>2+ years experience working as a React.js developer</li>
  <li>Excellent written and spoken English</li>
  <li>A technical degree from a leading university</li>
  <li>Experience with React.js and Node.js</li>
  <li>GraphQL knowledge</li>
  <li>Understanding of MySQL/PostgreSQL</li>
</ul>

<h3 class="mt-6 mb-2 font-bold">Optional Additional Skills</h3>
<ul class="ml-6 list-disc">
  <li>Experience with other backend frameworks like Rails or Django</li>
  <li>AWS experience (EC2, S3)</li>
</ul>


<div class="mt-10 pb-2"><a href="#apply" class="bg-purple-700 rounded shadow text-purple-100 font-bold px-3 py-3">Apply Now</a></div>

{% include career-values-benefits.html %}

{% include apply.html role=page.role %}

</div>