---
layout: default
role: Video Streaming Specialist
---
<div class="container mx-auto px-4">

    <h2 class="text-blue-700 text-3xl font-bold tracking-tight mt-12">{{ page.role }}</h2>
    <p class="font-medium text-blue-500 ">Full-Time Position</p>
    <p class="font-medium text-blue-500">Locations: <span  class="font-bold">Cairo</span> or <span class="font-bold">Remote Anywhere</span></p>

<p class="mt-10 mb-4">We are looking for an abitious Video Streaming developer expert to join our Cairo office or work remotely from anywhere in the world.</p>

<p class="mb-4">You will be working full-time as part of the developemt team. Everyone in the team is a full-stack developer, although each person has their individual focus areas. Your specialist area will be buiding and maintaining our video streaming infrastructure.</p>

<p class="mb-4">Our product 'Konf' is a platform for running live online events. Technologies such as WebRTC, HLS, media servers and Websockets to stream video to audiances.</p>

<p class="mb-4">We work using an agile project management process. We have daily standups, weekly sprint planning and retrospectives. GitHub Issues is used for backlog management. We do regular pair programming and code reviews.</p>

<p class="mb-4">You should be abitious and have a hunger to learn new things. If you have a drive to rapidly advance your skills and career, this is an ideal role for you.</p>

<h3 class="mt-6 mb-2 font-bold">Required Skills</h3>
<ul class="ml-6 list-disc">
  <li>2+ years experience working as a backend-engineer with video streaming</li>
  <li>Excellent written and spoken English</li>
  <li>A technical degree from a leading university</li>
  <li>Experience with ffmpeg, WebRTC and other video technology</li>
  <li>Expertise setting up streaming media servers like, Ant, Red5 or Wowza</li>
  <li>Backend development expertise in Python, Ruby, Node or similar</li>
  <li>Understanding of MySQL/PostgreSQL</li>
  <li>AWS experience (EC2, S3)</li>
</ul>



<div class="mt-10 pb-2"><a href="#apply" class="bg-purple-700 rounded shadow text-purple-100 font-bold px-3 py-3">Apply Now</a></div>

{% include career-values-benefits.html %}

{% include apply.html role=page.role %}

</div>