  <h2 id="apply" class="mt-10 mb-6 text-gray-700 text-2xl font-semibold tracking-tight">How to Apply</h2>
  <p>You can apply with an email by sending your CV to CEO's first name at rebase.ventures. Alternatively, you can use the form below.</p>
  <form 
  class="mb-10"
  action="https://formspree.io/xayqkvqr"
  method="POST"
  enctype="multipart/form-data">
    <label class="block mt-6 font-semibold text-gray-700">
      Position you're applying for
      <input type="text" name="role" value="{{include.role}}" readonly="readonly" class="block w-1/3 mt-3 px-3 py-2 shadow rounded border border-gray-400">
    </label>

    <label class="block mt-6 font-semibold text-gray-700">
      Your email
      <input type="text" name="_replyto" class="block w-1/3 mt-3 px-3 py-2 shadow rounded border border-gray-400">
    </label>

    <label class="block mt-6 font-semibold text-gray-700">
      Your LinkedIn Profile URL
      <input type="text" name="linkedin" class="block w-1/3 mt-3 px-3 py-2 shadow rounded border border-gray-400">
    </label>


    <label class="block mt-6 font-semibold text-gray-700">
      Attach your CV
      <input type="file" name="upload" class="block w-1/3 mt-3">
    </label>

    <label class="block mt-6 font-semibold text-gray-700">
      Message (optional)
      <textarea name="message" class="block w-2/3  mt-3 px-3 py-2 shadow rounded border border-gray-400" rows="8" style="margin-top: 12px; margin-bottom: 0px; height: 210px;">Hi, I am applying for the {{include.role}} position at Rebase Ventures.</textarea>
    </label>

    <button type="submit" id="button" class="mt-6 shadow text-white font-bold rounded bg-purple-700 px-3 py-3"  onclick="document.getElementById('button').innerHTML = '<i class=\'fa fa-circle-o-notch fa-spin mr-2\'></i>Uploading'">Send Application</button>
  </form>