<h2 class="mt-10 mb-6 text-gray-700 text-2xl font-semibold tracking-tight">Our Company</h2>

<p class="mb-4">Rebase Ventures is a B2B SaaS Venture Studio. This means that we build and run B2B Software As A Service (SaaS) products. We're similar to other SaaS product companies like Slack and Instabug, except instead of having just one product, we work on more than one.</p>

<p class="mb-4">The company is founded and run by technology entrepreneur Damien Tanner. He previously founded 3 technology companies, raised millions of dollars in funding, and two of them have been acquired by larger companies. Pusher is the most widely recognized company, that still operates. Pusher's product is used by over 250,000 developers and has a team of over 70 people in London.</p>

<p class="mb-4">At Rebase Ventures, our team is based all around the world. The development and team is split between Cairo and Buenos Aires.</p>

<p class="mb-4">We're on a mission to create the best place to work. Being an international company means we can give you incredible opportunities to achieve your goals, whether that's to become a better developer, travel the world or learn new skills. Being a relatively small team also means you will have the opportunity to take on new responsibilities and career paths.</p>

<div class="flex flex-col sm:flex-row">
  <div class="w-full sm:w-2/3">
    <h2 class="mt-10 mb-6 text-gray-700 text-2xl font-semibold tracking-tight">Our Culture &amp; Values</h2>
    <ul class="">
      <li class="mb-4"><h3 class="font-semibold text-gray-800 text-lg">Diverse Team</h3><p>We're building a team that is diverse in gender, culture and thinking.</p></li>
      
      <li class="mb-4"><h3 class="font-semibold text-gray-800 text-lg">Global Culture</h3><p>People in 4 continents bring global values to our culture.</p></li>
      
      <li class="mb-4"><h3 class="font-semibold text-gray-800 text-lg">Always Learning</h3><p>Learn from the brightest minds in our team.</p></li>
      
      <li class="mb-4"><h3 class="font-semibold text-gray-800 text-lg">Honest &amp; Open</h3><p>We bring our whole selves to work, and value honest conversation.</p></li>
      
      <li class="mb-4"><h3 class="font-semibold text-gray-800 text-lg">Self Motivation</h3><p>Working on things that matter unlocks our self motivation.</p></li>
      
      <li class="mb-4"><h3 class="font-semibold text-gray-800 text-lg">Think Long Term</h3><p>We're committed to building a company for decades to come.</p></li>
    </ul>
  </div>

  <div class="w-full sm:w-1/3">
  <h2 class="mt-10 mb-8 text-gray-700 text-2xl font-semibold tracking-tight">Benefits</h2>
  <ul class="">
    <li class="flex mb-4 text-center text-gray-800"><i class="w-12 mb-2 mr-2 text-purple-700 far fa-2x fa-money-bill-wave mb-1" aria-hidden="true"></i><p>Competitive Pay</p></li>
    <li class="flex mb-4 text-center text-gray-800"><i class="w-12 mb-2 mr-2 text-purple-700 far fa-2x fa-briefcase-medical" aria-hidden="true"></i><p>Private Health Insurance</p></li>
    <li class="flex mb-4 text-center text-gray-800"><i class="w-12 mb-2 mr-2 text-purple-700 far fa-2x fa-plane-departure" aria-hidden="true"></i><p>Conference Trips</p></li>
    <li class="flex mb-4 text-center text-gray-800"><i class="w-12 mb-2 mr-2 text-purple-700 far fa-2x fa-laptop-code" aria-hidden="true"></i><p>Macbook Pro</p></li>
    <li class="flex mb-4 text-center text-gray-800"><i class="w-12 mb-2 mr-2 text-purple-700 far fa-2x fa-taxi" aria-hidden="true"></i><p>Transport Budget</p></li>
    <li class="flex mb-4 text-center text-gray-800"><i class="w-12 mb-2 mr-2 text-purple-700 far fa-2x fa-graduation-cap" aria-hidden="true"></i><p>Learning Budget</p></li>
  </ul>
</div>
</div>
