---
---

@import "{{ site.theme }}";

body {
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


.page-header {
    background-color: #000;
    background-image: linear-gradient(120deg, #000, #444);
}

.project-name {
    font-size: 2.7rem;
    font-weight: normal;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #000;
}

#content {
}

#companies {
    padding:0;
}
#companies li {
    display:inline-block;
    vertical-align: middle;
    width: auto;
    list-style: outside none none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#companies li p {
    font-size: 12px;
    margin: 0;
}

.profile {
    width: 60px;
    margin-right: 20px;
    vertical-align: middle;
}
