<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#44337a">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta property='og:image' content="/assets/og-rocket.png"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0d52a5c00e.js" crossorigin="anonymous"></script>
  </head>
  <body style="
  background-image: url('/assets/bg.png'); background-size: 75%;
" class="bg-right-top bg-no-repeat">
  <header class="container mx-auto px-4 flex items-center pt-4 pb-4">
    <h1 class="font-semibold tracking-tight	text-xl text-purple-900 border-b-2 border-purple-900 inline"><a href="/">Rebase Ventures</a></h1>
    <nav class="flex-1">
      <ul class="flex justify-end items-center">
        <li class="self-center bg-purple-700 text-white font-bold uppercase rounded px-1 py-1" style="font-size:0.6rem;">We're hiring<span style="border:solid 5px transparent;border-left-color:#6b46c1;position:absolute;margin:2px 0 0 3px;"></span></li>
        <li class="ml-2 sm:ml-4 text-gray-600 hover:text-purple-800"><a href="/careers">Careers</a></li>
        <li class="ml-4 sm:ml-6 text-gray-600 hover:text-purple-800"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

    <main class="">
      {{ content }}
    </main>

  <footer class="mt-2 pt-4 pb-6">
    <div class="container mx-auto">
      <p class="text-sm text-gray-600 text-center">© {{ 'now' | date: "%Y" }} Rebase Ventures. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>